/** @format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

/* Success & Error Messages */
.success-msg {
  background: #d4edda;
  color: #155724;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

.error_message {
  background: #f8d7da;
  color: #721c24;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form_container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
  background-color: #fffcfc;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  text-align: center;
}

.form_group {
  margin-bottom: 20px;
}

.input_field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.submit_btn {
  padding: 10px 20px;
  background-color: #8c0265;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit_btn:hover {
  background-color: #bb0a89;
}

.link {
  display: block;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #0759a7;
}

.link:hover {
  text-decoration: underline;
}

.table_container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
  vertical-align: middle;
}

.table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #f1f1f1;
}

.table img {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}

/* Fade out animation for messages */
.fade-out {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.fade-out.hidden {
  opacity: 0;
}
